<div class="landing-page">
  <header>
    <app-logo sideLength="50"></app-logo>

    <app-text-input id="search" name="search" placeholder="Keşfetmeye Başla..." textAlignment="center"
                    bgColor="space-shuttle" textColor="kournikova"
                    icon="search" iconColor="kournikova"></app-text-input>

    <app-button text="Giriş" bgColor="kournikova" textColor="toledo" fontSize="l"
                (click)="onLogin($event)"></app-button>
  </header>
  <article>
    <div class="login-form">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi, culpa dolorum eligendi error et facilis itaque laborum quibusdam quos repellendus reprehenderit repudiandae rerum soluta veniam. Beatae dolore id voluptates!
    </div>
    <div class="illustration">
      <app-illustration fileName="undraw_book_lover_mkck.svg" creator="Katerina Limpitsouni"></app-illustration>
    </div>
  </article>
</div>
