<div class="landing-page">
  <header>
    <app-logo sideLength="50"></app-logo>
    <app-text-input id="search" name="search" placeholder="Keşfetmeye Başla..." textAlignment="center"
                    bgColor="space-shuttle" textColor="kournikova"
                    icon="search" iconColor="kournikova"></app-text-input>

    <app-button text="Giriş" bgColor="kournikova" textColor="toledo" fontSize="l"
                (click)="onLogin($event)"></app-button>
  </header>
  <article>
    <div class="self-center text-white w-1/2 p-6">Login Form</div>
    <div class="text-white w-1/2 l:p-12">
      <app-illustration fileName="undraw_book_lover_mkck.svg" creator="Katerina Limpitsouni"></app-illustration>
    </div>
  </article>
</div>
