<div class="cemiyet-input">

  <i *ngIf="icon" class="material-icons text-white text-{{iconColor}}"
     [class.left]="iconLocation == 'left'" [class.right]="iconLocation == 'right'">
    {{icon}}
  </i>

  <input [type]="inputType" [id]="id" [name]="name" [placeholder]="placeholder" [class]=""
         class="text-{{textAlignment}} text-{{textColor}} placeholder-{{textColor}} bg-{{bgColor}}"
         [class.has-icon-left]="icon && iconLocation == 'left'"
         [class.has-icon-right]="icon && iconLocation == 'right'">

</div>
